:root{

}

.app-layout{
    height:100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,rgb(251, 237, 162),rgb(177, 240, 241));
}
.app-layout header{
    min-height: 10%;
    display: flex;
    align-items: center;
    gap: 50%;
    border:1px solid #dddddd ;
}

.app-layout header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.app-layout main{
    min-height: 80%;
}
.app-layout footer{
    min-height: 10%;
}
.page-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}
.main{
    margin-top: 7rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}