.card-container{
    display: flex;
    gap:12px
}
#card{
    /* background-color: red; */
    width:400px;
    height: 300px;
    box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, .5);
    border-radius: 12px;
    padding: 5px;
}
#card img{
    object-fit:cover;
    width: 400px;
    height: 200px;
}